body{
    color:black;
    font-size: 16pt;
}

h1{
    color: red;
    opacity: 1;
    font-size: 60pt;
    margin-top: -20px;
    margin-bottom: 0px;
    text-align: left;
}

p{
    margin: 10px;
}

a{
    color: bule;
    text-decoration: none;
}