<!doctype html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'testApp/css/style.css' %}">
    </head>

    <body>
        <table>
            <tr>
                <th>ID</th><td>{{data.id}}</td>
                <th>data.user_id</th><td>{{data.user_id}}</td>
                <th>data.message</th><td>{{data.message}}</td>
            </tr>

            <form action="{% url 'snsdelete' data.id %}" method="post">
                {% csrf_token %}
                <tr>
                    <th>
                        <td><input type="submit" value="click"></td>
                    </th>
                </tr>

            </form>
        </table>  
    </body>
</html>
